<!DOCTYPE html>
    <!-- Header Information -->
    <html lang="en">
    <head>
        <title>
            Alex Nunez
        </title>
        <link rel="icon" href="/static/images/Headshot.jpeg" type="image/icon type">
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>

    <!-- Navigation Menu -->
    <div class="navMenu">
        <div>
            <a href="#title" class="titleButton">
                <h1>Alex G Nunez-Carrasquillo</h1>
            </a>
        </div>
        <div class="navButtons">
            <a class="navButton" href="#Aboutme">About Me</a>
            <a class="navButton" href="#Academics">Academics</a>
            <a class="navButton" href="#Skills">Skills</a>
            <a class="navButton" href="#Projects">Projects</a>
            <a class="navButton" href="#Resume">Resume</a>
        </div>
    </div>

    <!-- JavaScript Entry Point-->
    <div id="reactEntry">
        Loading ...
    </div>
    <script src="{{ url_for('static', filename='js/bundle.js') }}">
    </script>

    <!-- Footer Information -->
    <div class="footer">
        <div>
            <p class="footerText">
                Contact Information:
                <br>
                anunezc@umich.edu
                <br>
                (787) 636-8789
                <br>
                LinkedIn
            <br></p>
        </div>
        <p class="footerText">
            All trademarks and logos belong to their respective owners; I am not affiliated with any logo holder.
        </p>
    </div>
</html>